[submodule "sicozblog/themes/PaperMod"]
	path = sicozblog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "sicozblog/public"]
	path = sicozblog/public
	url = git@github.com:sicozz/sicoz.github.io.git
	branch = main
